 <main>
<div id="tabe">
    <table border=1px >
 </thead>
         <tr>
            
                    <p><th style="width:500px; display:block; text-align: left">       Pacote     </th>
                    <th style="width:500px; display:block; text-align: left">      Data       </th>
                    <th style="width:500px; display:block; text-align: left">       Preço      </th>
                    <th style="width:500px; display:block; text-align: left">      Pendente     </th></p>
            
                </tr>
            
    </table>
    </div>
 </main>