           <main>
                   <form method="POST" action='@Url.Action()'></form>
            <section id="tudo">
                <div>
                    <h1>Pacotes</h1>
                </div>
            
            
                <div class="pacotes">
                    <div class="tex">
                        <p>   
                        <b>Pacote Simples</b>
                        <br> 
                        <br>
                        <br>
                        Alugar o espaço
                        <br>
                        <br>
                        <br>
                        Valor:10,000R$
                        <br>
                        <br>
                        <div class="compra"><a href="agendamento.html"><b>Compre já!</a></b></div> 
                        </p>
                    </div>
                    
                    <div class="tex">
                        <p>
                        <b>Pacote padrão</b>
                        <br>
                        <br>
                        Alugar o espaço
                        <br>
                        mais o som
                        <br>
                        ou a luz.
                        <br>
                        <br>
                        Valor: 15,000R$
                        <br>
                        <br>
                        <div class="compra"><a href="agendamento.html"><b>Compre já!</a></b></div> 
                        </p>
                    </div>
        
                    <div class="tex">
                        <p>
                        <b>Pacote premium</b>
                        <br>
                        <br>
                        Alugar o espaço
                        <br>
                        mais o som
                        <br>
                        e a luz.
                        <br>
                        <br>
                        Valor: 20,000R$
                        <br>
                        <br>
                        <div class="compra"><a href="agendamento.html"><b>Compre já!</a></b></div> 
                        </div> 
                        </p>
                    </div> 
                </div>
            </section>
            </main>