
   <main>
            <section id="tudo">
                <div>
                    <h1>Pacotes</h1>
                </div>
            
            
                <div class="pacotes">
                    <div class="tex" for="PacoteSimples">
                        <p>   
                        <b name="PacoteSimples">Pacote Simples</b>
                        <br> 
                        <br>
                        <br>
                        <p name="Pacote1">Alugar o espaço</p>
                        <br>
                        <br>
                        <br>
                        <p name="valor">Valor:10,000R$</p>
                        <br>
                        <br>
                        <div type="submit" class="compra"><a href="agendamento.html"><b>Compre já!</a></b></div> 
                        </p>
                    </div>
                    
                    <div class="tex" for="PacotePadrao">
                        <b name="PacotePadrao">Pacote padrão</b>
                        <br>
                        <br>
                        <p name="Pacote2">Alugar o espaço
                        <br>
                        mais o som
                        <br>
                        ou a luz.</p>
                        <br>
                        <br>
                        <p name="valor">Valor: 15,000R$</p>
                        <br>
                        <br>
                        <div type="submit" class="compra"><a href="agendamento.html"><b>Compre já!</a></b></div> 
                    </div>
        
                    <div class="tex" for="PacotePremium">
                        <b name="PacotePremium">Pacote premium</b>
                        <br>
                        <br>
                        <p name="Pacote3">Alugar o espaço
                        <br>
                        mais o som
                        <br>
                        e a luz.</p>
                        <br>
                        <br>
                        <p name="valor">Valor: 20,000R$</p>
                        <br>
                        <br>
                        <div type="submit" class="compra"><a href="agendamento.html"><b>Compre já!</a></b></div> 
                        </div> 
                    </div> 
                </div>
            </section>
            </main>