
<main>
            <section id="tudo">
                <div>
                    <h1>Pacotes</h1>
                </div>
            
            <form action="" method="POST" class="pacotes">
                    <label class="tex" for="PacoteSimples"></div>
                        <p>   
                        <b><label class="tex" for="PacoteSimples" >Pacote Simples</label></b>
                        <input type="hidden" name="PacoteSimples" />
                        <br> 
                        <br>
                        <br>
                        <p>Alugar o espaço</p>
                        <br>
                        <br>
                        <br>
                        <p>Valor:10,000R$</p>
                        <br>
                        <br>
                        <input type="submit" class="compra" name="comprar"><b>Compre já!</a></b></div> 
                        </p>
                    </div>
                    </form>
                    
                    <form action="" method="POST" class="pacotes">
                    <label class="tex" for="PacotePadrao"></div>
                        <p>
                        <b><label class="tex" for="PacotePadrao" >Pacote Padrao</label></b>
                        <input type="hidden" name="PacotePadrao"/>
                        <br>
                        <br>
                        <p>Alugar o espaço
                        <br>
                        mais o som
                        <br>
                        ou a luz.</p>
                        <br>
                        <br>
                        <p>Valor: 15,000R$</p>
                        <br>
                        <br>
                        <input type="submit" class="compra" name="comprar"><b>Compre já!</a></b></div> 
                    </div>
                    </form>
        
                    <form action="" method="POST" class="pacotes">
                    <label class="tex" for="PacotePremium"></div>
                        <p>
                        <b><label class="tex" for="PacotePremium" >Pacote Premium</label></b>
                        <input type="hidden" name="PacotePremium"/>
                        <br>
                        <br>
                        <p>Alugar o espaço
                        <br>
                        mais o som
                        <br>
                        e a luz.</p>
                        <br>
                        <br>
                        <p>Valor: 20,000R$</p>
                        <br>
                        <br>
                        <input type="submit" class="compra" name="comprar"><b>Compre já!</a></b></div> 
                        </div> 
                        </form>
                    </div> 
                </div>
            </section>
            </main>