    <main>
    <h1>Página do administrador</h1>
    <h2>Pedidos:</h2>
<div id="tabela">
   
    <table border=1px>
            <thead>
                <tr>
                    <th>Nomes</th>
                    <th>Datas</th>
                    <th>Respostas</th>
                </tr>
            </thead>
            <tbody>
                <tr> 
                    <td>Paulo Nunez Silva</td>
                    <td>15/10/2019</td>
                    <td><input class="botãoum" type="button" name="aceitar" value="Aceitar" alt="Aceitar">
                        <input class="botãodois" type="button" name="recusar" value="Recusar" alt="Recusar"></td>
                </tr>
                <tr>
                    <td>Antonip Nascimento</td>
                    <td>16/10/2019</td>
                    <td><input class="botãoum" type="button" name="aceitar" value="Aceitar" alt="Aceitar">
                        <input class="botãodois" type="button" name="recusar" value="Recusar" alt="Recusar"></td>
                </tr>
                <tr>
                    <td>Aline Flores</td>
                    <td>17/10/2019</td>
                    <td><input class="botãoum" type="button" name="aceitar" value="Aceitar" alt="Aceitar">
                        <input class="botãodois" type="button" name="recusar" value="Recusar" alt="Recusar"></td>
                </tr>
                <tr>
                        <td>Antonip Nascimento</td>
                        <td>16/10/2019</td>
                        <td><input class="botãoum" type="button" name="aceitar" value="Aceitar" alt="Aceitar">
                            <input class="botãodois" type="button" name="recusar" value="Recusar" alt="Recusar"></td>
                    </tr>
                    <tr>
                        <td>Aline Flores</td>
                        <td>17/10/2019</td>
                        <td><input class="botãoum" type="button" name="aceitar" value="Aceitar" alt="Aceitar">
                            <input class="botãodois" type="button" name="recusar" value="Recusar" alt="Recusar"></td>
                    </tr>
            </tbody>
     </table>
</div>      
<h2>Assinantes do site:</h2>
<div id=block>
        
  <table border=3px>
            <tbody>
                <tr> 
                    <td>Paulo Nunez Silva</td>
                    <td><input class="bloquear" type="button" name="Bloquear" value="Bloquear" alt="Aceitar"></td>
                    <td>Mais informações</td>
                </tr>
                <tr> 
                    <td>Antonip Nascimento</td>
                    <td><input class="bloquear" type="button" name="Bloquear" value="Bloquear" alt="Aceitar"></td>
                    <td>Mais informações</td>
                </tr>
                <tr> 
                    <td>Aline Flores</td>
                    <td><input class="bloquear" type="button" name="Bloquear" value="Bloquear" alt="Aceitar"></td>
                    <td>Mais informações</td>
                </tr>
                <tr> 
                        <td>Antonip Nascimento</td>
                        <td><input class="bloquear" type="button" name="Bloquear" value="Bloquear" alt="Aceitar"></td>
                        <td>Mais informações</td>
                    </tr>
                    <tr> 
                        <td>Aline Flores</td>
                        <td><input class="bloquear" type="button" name="Bloquear" value="Bloquear" alt="Aceitar"></td>
                        <td>Mais informações</td>
                    </tr>
                
            </tbody>
    </table>
</div>   
    </main>